@font-face {
    font-family: "Bayshore";
    src: url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.eot");
    /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.woff2") format("woff2"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.woff") format("woff"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.ttf") format("truetype"),
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("https://db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.svg#Bayshore") format("svg");
    /* iOS 4.1- */
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,400i,500,700,900|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900|Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #db251c;
    color: #fff;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #e0e0e0;
}

html {
    width: 100%;
    height: 100%;
}

a,
.button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a:focus,
.button:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
button {
    color: #1F1F1F;
    outline: medium none;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 26px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;

}

.logo img {
    width: 200px;
}


nav {
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items {
    display: flex;
    /* flex: 1; */
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #ff3d00;
}

nav .menu-icon,
nav .cancel-icon,
nav .shop-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .shop-icon {
    display: none;
}

nav .shop-icon {
    display: block;
}

.aod_left_panel_fly {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 70%;
    height: 100%;
    z-index: 999999999999;
    display: none;
    max-width: calc(100% - 400px);
}

.aod_left_panel_fly.overlay_active_aod {
    display: block;
}

.aod_flying_cart {
    position: fixed;
    white-space: normal;
    top: 0px;
    z-index: 9999999;
    min-width: 400px;
    width: 30%;
    padding: 20px 30px 0 30px;
    right: -100%;
    background: #ffffff;
    height: 100%;
    border-left: 1px solid #faf3ed;
    box-shadow: -3px 0px 11px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
}


.aod-fluying-cart-visible {
    right: 0px;
    transition: all 0.5s ease-in-out 0s;
}

.aod_close_cart {
    float: right;
    cursor: pointer;
    z-index: 9999999;
    cursor: pointer;
}

.aod_close_cart svg {
    width: 18px !important;
    height: 18px !important;
    position: absolute;
    right: 28px;
    top: 25px;
    z-index: 9999999;
    cursor: pointer;
}


.aod_flying_cart h2,
.aod_flying_cart .h2 {
    font-size: 18px;
}

.aod-main-heading {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    font-family: inherit;
    padding-left: 15px;
}

.aod-main-heading {
    padding-left: 0px !important;
}

.aod-main-heading svg {
    width: 16px;
    position: absolute;
    top: -9px;
    left: -19px;
}

.aod-main-heading svg {
    display: none;
}

.aod-custom-cart-message {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #000;
    padding-bottom: 10px;
    font-family: inherit;
    font-weight: 400;
    line-height: 13px;
}

.aod-product-row.aod-empty-cart {
    border-bottom: none;
    color: #000;
    padding-bottom: 0px;
    font-family: inherit;
    font-size: 14px;
}

.aod-product-row {
    width: 100% !important;
    margin: 2px auto;
    text-align: center;
    margin-bottom: 15px;
    clear: both;
    position: relative;
    border-bottom: 1px solid #f8f8f8;
    padding-bottom: 17px;
    display: inline-block;
    font-family: inherit;
}

.aod-shop-button-empty {
    font-size: 13px;
    padding: 5px 25px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 1;
    line-height: normal;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #5454FF;
}

/* .aod-cart-total-panel {
    bottom: 60px !important;
} */

.aod-cart-total-panel {
    float: left;
    width: 87%;
    position: absolute;
    bottom: 20px;
    border-top: none;
    padding-top: 15px;
    margin: 0 auto;
    font-family: inherit;
    padding-top: 20px;
    z-index: 9999;
}

.aod_cart_form {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.aod-total-price {
    margin: 10px auto 0px;
    color: #000;
    font-weight: 600;
    float: left;
    width: 100%;
    font-weight: 600;
    position: relative;
    top: -10px;
    font-family: inherit;
    font-size: 18px;
}

.aod-total-text {
    font-size: 18px !important;
}

.aod-total-text {
    float: left;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    font-family: arial;
    text-transform: uppercase;
    padding-top: 2px;
    font-family: inherit;
}

.aod-total-amount {
    font-size: 18px !important;
}

.aod-total-amount {
    float: right;
    font-size: 15px;
    line-height: 20px;
    font-family: arial;
    margin-top: 5px;
    font-family: inherit;
}

.aod-fast-checkout {
    background: #34b0b0;
    font-weight: 600;
    color: #fff;
    opacity: 1;
    letter-spacing: 0.035em;
    padding: 10px 0px;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid #34b0b0;
    display: block;
    clear: both;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100% !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
}

.fly_shake {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: fly_shake;
    animation-name: fly_shake;
}

.aod-animated {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .shop-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}


@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .shop-icon {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 767px) {
    .aod_flying_cart {
        width: 75% !important;
    }
}

@media (max-width: 767px) {
    .aod_flying_cart {
        min-width: auto;
        width: 93.5%;
        padding: 20px 15px 0 15px;
    }
}

@media (max-width: 360px) {
    .logo img {
        width: 150px;
    }

    nav .menu-icon,
    nav .cancel-icon,
    nav .shop-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}


/* Banner */
#carouselExampleIndicators {
    margin-top: 0;
}

.carousel-inner {
    height: 20%;
    width: 100%;
}

.carousel-inner .carousel-item img {
    /* height: 280px; */
    /* position: absolute; */
    /* height: 280px; */
    /* min-width: 1680px; */
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
}

/* Banner ends */

/* Products starts */
.card {
    box-shadow: 0px 10px 20px #45454529;
    border-radius: 12px;
    /* position: relative; */
    margin-bottom: 4rem;
    border: none;
}

.dummyContainer {
    background: red;
    height: 10px;
}

#products {
    margin-top: 8rem;
}

.card-body {
    padding: 0;
}

.view {
    position: relative;
    top: -50px;
    /* min-height: 320px; */
}

.view {
    width: 100%;
}

.card-body h4 {
    margin-right: 1.8rem;
    margin-bottom: 1rem;
}

.card-body .btn {
    background-color: #db251c;
    width: 100%;
    color: #fff;
    box-shadow: 0px 10px 20px #45454529;
    border-radius: 0 0 12px 12px;
    padding: 16px 32px;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.products-btn {
    text-align: center;
    margin-top: 7rem;
}

.products-btn button {
    text-align: center;
    background-color: transparent;
    outline: 0;
    padding: 16px 40px;
    color: #db251c;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: 600;
    border: 2px solid #db251c;
    cursor: pointer;
    /* width: 100%; */
    font-size: 20px;
    border-radius: 43px;
}

.products-btn button:hover {
    background-color: #db251c;
    color: #fff;
    box-shadow: 0 5px 15px rgba(219, 37, 28, 1);
}

@media screen and (max-width:768px) {
    .card {
        margin-bottom: 8rem;
    }
}

@media screen and (max-width:480px) {
    .products-btn {
        margin-top: 4rem;
    }

    .products-btn button {
        padding: 16px 40px;
        font-size: 16px;
    }
}

/* products end */

/* footer starts */
footer {
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #fff;
    margin-top: 5rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    margin-top: 3rem;
    width: 200px;
}

.main-content {
    display: flex;
    padding: 2rem;
}

.main-content .footer-box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.footer-box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    /* font-family: 'roboto'; */
}

.footer-box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.footer-box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.footer-box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #db251c;
    top: -10px;
}

.left img {
    width: 200px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
    color: #fff;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #db251c;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #db251c;
}

.center .content .address-text {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .address-text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color: #fff;
}

/* .right form textarea{
      background: #151515;
      width: 100%;
  } */

.right form input:focus,
.right form textarea:focus {
    outline-color: #db251c;
}

.right form input {
    height: 35px;
}

.right form .contact_btn {
    margin-top: 10px;
}

.right form .contact_btn button {
    width: 100px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #db251c;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.right form .contact_btn button:hover {
    background: #db251c;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .footer-box {
        margin: 5px 0;
    }
}

.copy_right {
    text-align: center;
    padding-bottom: 1rem;
}

/* footer ends */